name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          coverage: none

      - name: Cache Composer packages
        uses: actions/cache@v5
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-scripts

      - name: Warm up Symfony cache
        run: php bin/console cache:warmup

      - name: Run Psalm
        run: vendor/bin/psalm --no-progress

      - name: Install psalm/plugin-symfony from fork
        run: |
          composer config repositories.psalm-plugin-symfony vcs https://github.com/tunterreitmeier/psalm-plugin-symfony
          composer require --dev psalm/plugin-symfony:dev-fix/mark-symfony-usages --no-scripts --no-progress --no-cache

      - name: Run Psalm with symfony plugin (showcase)
        run: vendor/bin/psalm --no-progress --no-cache --output-format=github
        continue-on-error: true
